/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2, p{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 100px;
  height: 330px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li{
  width: 94px;
  height: 65px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#purple{
  background: rgb(237, 232, 191);
}
#green{
  background: rgb(226, 201, 89);
}
#blue{
  background: rgb(214, 165, 118);
}
#pink{
  background: rgb(201, 125, 159);
}
#red{
  background: rgb(128, 27, 91);
}
